body{
    font-family: 'Source Code Pro', monospace;

}

#landing {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    text-shadow: 1px 1px 8px rgb(235, 76, 8)
  }
  
  #landing video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  #landing .container {
    position: relative;
    z-index: 2;
  }
  
  #landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
.full-screen{
  height: 100vh;

}

 .text-small{
font-size: small;
 }

 .zoom {
  transition: transform .5s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  
  /*@media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }*/